{% extends 'base.html' %} {% block content %}
<br><br><br>
<div class="box">
  <h1>Add Event</h1>
  <div class="col s6">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ event_form.as_p }}
      <input type="file" name="photo-file"><br><br>
      <input type="submit" class="btn" value="Add Event" />
    </form>
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}