{% extends 'base.html' %}
{% block content %}

<h1>Event</h1>

    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ event.name }}</span>
        <p>Name: {{ event.name }}</p>
        <p>Location: {{ event.location }}</p>
        <p>Date: {{ event.date }}</p>
        <p>Type: {{ event.type_event }}</p>
      </div>
    </div>
    <div id="vendor__display">
      {% for vendor in event.vendors.all %}
      <span class="card-title">{{ vendor.name }}</span>
        <p>Location: {{ vendor.location }}</p>
        <a href="mailto:{{ vendor.email }}"><button>Contact</button></a>
        <form action="{% url 'unassoc_vendor' event.id vendor.id %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Remove">
        </form>
        <br>
      {% endfor %}
    </div>
    <div id="vendor_dropdown">
      <h5>Add Attending Vendor</h5>
        <div>
          {% for vendor in all_vendors %}
          <div>
            <span>Name: {{ vendor.name }}</span><br>
            <span>Location: {{ vendor.location }}</span>
            <form action="{% url 'assoc_vendor' event.id vendor.id %}" method="POST">
              {% csrf_token %}
<input type="submit" value="Add">
            </form>
          </div>
          {% endfor %}
        </div>
    </div>

    <br><br><br>
{% endblock %}