


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.navbar-fixed nav {
  background-color: #002020;
}

.page-footer {
  background-color: #002020;
} 

.right input {
  margin-top: 15%;
}

.right a:hover {
  color: #53F1F1;
}

h1 {
  text-align: center;
}

h5 {
  padding-bottom: 2%;
  text-align: center;
  text-decoration: underline dotted;
}

.card p, span {
  text-align: center;
}

.event_col p {
  width: 50%;
float: left;
margin-bottom: 15px;
}

.event_col a {
  width: 15%;
  float: left;
}

#vendor_display {
margin-bottom: 5%;
display: flex;
}

#vendor_dropdown form {
float: left;
margin-bottom: 2%;
margin-top: 0;
}

#vendor_dropdown p {
  width: 50%;
  display:inline;
  float: left;
  margin-left: 1%;
}

.edit_del {
  text-align: center;
  padding-bottom: 3%;
}

.datepicker-modal { 
  height: 40%;
}

.del_page {
  text-align: center;
}

.edit_submit_btn {
  text-align: center;
  margin-top: 2%;
}

.edit_submit_btn input {
  width: 20%;
}

.img img{
  width: 30%;
}

.hamburger {
  font-family: 'Material Icons';
  display: inline;
}

.right {
  margin-right: 4%;
}



.drpdwn-content {
  display: none;
  position: absolute;
  background-color: #002020;
  min-width: 160px;
  z-index: 1;
  float: left;
  right:0%;
  width: 25%;
}

.drpdwn-content a:hover {
  color: #53F1F1;
}

.drpdwn li {
  width: 100%;
}

.login_btns .is-primary {
  margin-left: 35%;
  margin-top: 2%;
  width: 100px;
}


.silo1 {
  margin-right: 2%;
}

#vendor_display p {
margin-right: 2%;
}



.show {display:block;}